<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="PackageSellSystemTrading.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="PackageSellSystemTrading.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <applicationSettings>
        <PackageSellSystemTrading.Properties.Settings>
            <setting name="SELL_STOP_RATE" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="LOGIN_ID" serializeAs="String">
                <value />
            </setting>
            <setting name="LOGIN_PW" serializeAs="String">
                <value />
            </setting>
            <setting name="PUBLIC_PW" serializeAs="String">
                <value />
            </setting>
            <setting name="ACCOUNT_PW" serializeAs="String">
                <value />
            </setting>
        </PackageSellSystemTrading.Properties.Settings>
    </applicationSettings>
    <userSettings>
        <PackageSellSystemTrading.Properties.Settings>
            <setting name="MAX_LIMIT_AMT" serializeAs="String">
                <value />
            </setting>
        </PackageSellSystemTrading.Properties.Settings>
    </userSettings>
</configuration>