<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="PackageSellSystemTrading.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <PackageSellSystemTrading.Properties.Settings>
            <setting name="SELL_RATE" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="LOGIN_ID" serializeAs="String">
                <value />
            </setting>
            <setting name="LOGIN_PW" serializeAs="String">
                <value />
            </setting>
            <setting name="PUBLIC_PW" serializeAs="String">
                <value />
            </setting>
            <setting name="ACCOUNT_PW" serializeAs="String">
                <value />
            </setting>
            <setting name="MANAGE_AMT_LIMIT" serializeAs="String">
                <value>500000000</value>
            </setting>
            <setting name="SERVER_INDEX" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ACCOUNT" serializeAs="String">
                <value />
            </setting>
            <setting name="BUY_STOP_RATE" serializeAs="String">
                <value>90</value>
            </setting>
        </PackageSellSystemTrading.Properties.Settings>
    </userSettings>
</configuration>