<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="PackageSellSystemTrading.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <PackageSellSystemTrading.Properties.Settings>
            <setting name="LOGIN_ID" serializeAs="String">
                <value />
            </setting>
            <setting name="LOGIN_PW" serializeAs="String">
                <value />
            </setting>
            <setting name="PUBLIC_PW" serializeAs="String">
                <value />
            </setting>
            <setting name="ACCOUNT_PW" serializeAs="String">
                <value />
            </setting>
            <setting name="MAX_AMT_LIMIT" serializeAs="String">
                <value />
            </setting>
            <setting name="SERVER_ADDRESS" serializeAs="String">
                <value />
            </setting>
            <setting name="ACCOUNT" serializeAs="String">
                <value />
            </setting>
            <setting name="BUY_STOP_RATE" serializeAs="String">
                <value />
            </setting>
            <setting name="REPEAT_RATE" serializeAs="String">
                <value />
            </setting>
            <setting name="REPEAT_TERM" serializeAs="String">
                <value />
            </setting>
            <setting name="LIMITED_AT" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="TODAY_SELL_AT" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="BATTING_ATM" serializeAs="String">
                <value />
            </setting>
            <setting name="STOP_PROFIT_TARGET" serializeAs="String">
                <value />
            </setting>
            <setting name="STOP_PROFIT_TARGET2" serializeAs="String">
                <value />
            </setting>
            <setting name="STOP_LOSS_AT" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="STOP_LOSS" serializeAs="String">
                <value />
            </setting>
            <setting name="EXCL_STOP_LOSS_AT" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="TIME_PROFIT_TARGET_AT" serializeAs="String">
                <value>False</value>
            </setting>
        </PackageSellSystemTrading.Properties.Settings>
    </userSettings>
</configuration>